

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  
}






header {
  position: relative;
  background-color:#FFF6D6;
}
body {
	line-height: 14px;
  font-size: 10px;
  font-family: helvetica;
  position: relative;
}
h1 {
  font-size: 30px;
  color: #6E4918;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;

  
}
h2 {
  font-size:15px;
  line-height: 30px;
  color: #6E4918;
  text-transform: uppercase;
  font-weight: bold;
}
a{
  color: white;
  font-weight: bold;
  line-height: 20px;
}

nav, ul, li{
  list-style: none;
  font-size: 15px;
  color: white;
  
}
 
#top-nav a{
  font-size: 10px;
  color: #6E4918;
 
}
#top-nav {
  position: absolute; 
  top: 25px;
  right: 15px;
}

#main-menu {
  background-color: #6E4918;
  position: absolute;
  top:200px;
  left: 0px;
  width: 100%;
  font-weight: bold;
  color: white;
  
}
main-menu,ul, li, a{
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  padding: 4px;
  color: white;
  font-size: 13px;
}

nav,ul, li{
  float: left;
  padding: 6px;
  color: white;
}



#page {
  clear:both;
  position: absolute;
  top:250px;
  left: 250px;
}
footer-wrapper{
  width: 100%;
  background-color:#6E4918;
}
#footer-contact{
  position: relative;
  top:800px;
  background-color:#6E4918;
  width: 100%;
  margin-top: 25px;
  padding: 30px;
  
}
#footer-contact p{
  position: absolute;
  left: 290px;
  bottom: 00px;
  width: 150px;
  color: white;
  background-color:#6E4918;
  margin-bottom: 25px;
  
}
h1 {
	font-family:Helvetica;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:10px;
	color:#7F5217;
	padding-top:40px;
}

h2 {
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#7F5217;
	padding-bottom:8px;
}

h3 {
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#C19A6B;
	padding-bottom:8px;
}


#main-menu nav li{
	height:30px;
	font-weight:bold;
	background-color:#7F5217;
	text-transform:uppercase;
	font-family:Helvetica;
	font-size:11px;
        margin-left: 300px;
}

p {
	font-family:Helvetica;
	font-size:11px;
	padding-bottom:14px;
}


#footer-follow{
  position: absolute;
  left: 900px;
  top: 900px;
  background-color:#6E4918;
  padding: 60px;
}


#footer-follow h1{
  color: grey;
  position: absolute; 
  left:80px;
  top: -50px;
}

#footer-follow ul li{
  position: relative;
  top:450px;
  padding: 20px;
}
#footer-contact h1{
  color: grey;
  position: relative;
  left:	260px;
  bottom:60px;
}

#sidebar{
  position: absolute;
  top:250px;
  left: 900px;
  width: 20%;
}

#menu-wrapper, main-menu, nav, ul, li, a{
  color: white;
}

article{
  width: 30%;
  margin-left: 50px;
}


#footer-follow li a{
  position: relative;
  bottom: 500px;
  right: 90px;
}

